agno
ollama
sqlalchemy
pgvector
psycopg[binary]
psycopg2-binary
openai
fastapi
slowapi
uvicorn
python-multipart
pypdf
#gemini
google-genai
PyJWT
websockets
python-socketio
lancedb
#search
baidusearch
pycountry
greenlet